<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/header %>
  <title>New Product</title>
</head>

<body>

  <% include partials/navigation %>
  <div class="container p-4">
    <form method="POST" target="/new-entry" class="card card-body">

      <div class="form-group">
        <label for="title">PRODUCTO</label>
        <input name="productName" type="text" class="form-control" placeholder="INGRESE UN NUEVO PRODUCTO" autofocus required>
      </div>

      <div class="form-group">
        <label for="title">PRECIO</label>
        <input name="price" type="text" class="form-control" placeholder="INGRESE UN PRECIO (SIN SIMBOLOS)" autofocus required>
      </div>
      
      <div class="form-group">
        <label for="image">IMAGEN</label>
        <input type="url" name="img" class="form-control" placeholder="http://website.com" required>
      </div>

      <div class="form-group">
        <label for="description">CANTIDAD</label>
        <input name="quanty" type="text" class="form-control" placeholder="CANTIDAD DISPONIBLE" autofocus required>
      </div>

      <div class="form-group">
        <input type="submit" value="INGRESAR" class="btn btn-primary">
      </div>
    </form>

  </div>

  <% include partials/footer%>
</body>

</html>